.amount, .submit, .another-order, .checkout, .clear {
  display: none;
}
#amount{
  width: 50px;
}
body{
  background-color: black;
  color: white;
}
.card {
  background-color: blue;
  color: white;
}
